@model IEnumerable<AdopteUneDev.DAL.Developer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DevName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DevFirstName)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DevName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DevFirstName)
        </td>
        
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.IdDev })
        </td>
    </tr>
}

</table>
