﻿@using BoutikOnline.Helper
@model BoutikOnline.Models.BoiteLangCateg

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <!--html helper categ-->
                    @Html.MenuCategAndLang(Model.LstCateg)

                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>Programming language</h2>
                        @Html.Langs(Model.LstLang)
                    </div><!--/brands_products-->
                    <div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well text-center">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                            <b class="pull-left">€ 0</b> <b class="pull-right">€ 600</b>
                        </div>
                    </div><!--/price-range-->
                    <div class="shipping text-center">
                        <!--shipping-->
                        <img src="~/Content/images/home/shipping.jpg" alt="" />
                    </div><!--/shipping-->
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="~/Content/images/@Model.SelectedDev.DevPicture" alt="" />
                            <h3>ZOOM</h3>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            <h2>@Model.SelectedDev.DevFirstName @Model.SelectedDev.DevName</h2>
                            <img src="~/Content/images/product-details/rating.png" alt="" />
                            <br />
                            <p><b>Date de naissance: </b> @Model.SelectedDev.DevBirthDate</p>
                            <br />

                            <form method="post" action="~/Boutik/Panier/AddToBasket">
                                <span>
                                    <label>
                                        <select name="choix">
                                            <option value="@Model.SelectedDev.DevHourCost">€@Model.SelectedDev.DevHourCost/Hour </option>
                                            <option value="@Model.SelectedDev.DevDayCost">€@Model.SelectedDev.DevDayCost/Day </option>
                                            <option value="@Model.SelectedDev.DevMonthCost">€@Model.SelectedDev.DevMonthCost/Month </option>
                                        </select>
                                    </label>
                                    <input type="number" name="qte" min="0" value="1" />                                    
                                    <button type="submit" class="btn btn-fefault cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add To Cart
                                    </button>
                                    <input type="hidden" name="id" value="@Model.SelectedDev.IdDev" />
                                </span>
                            </form>
                            <br />
                            <p><b>Availability:</b> In Stock</p>
                            <p><b>Condition:</b> New</p>
                            <p><b>Categorie:</b> @Model.SelectedDev.NomCategPrincipale</p>

                            <a href=""><img src="~/Content/images/product-details/share.png" class="share img-responsive" alt="" /></a>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li><a href="#details" data-toggle="tab">Details</a></li>
                            <li><a href="#tag" data-toggle="tab">Tag</a></li>
                            <li class="active"><a href="#reviews" data-toggle="tab">Reviews (@Model.SelectedDev.Reviews.Count())</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="details">
                            <b>E-Mail</b> @Model.SelectedDev.DevMail <br />
                        </div>

                        <div class="tab-pane fade" id="tag">
                            <div class="col-sm-12">
                                @Html.TagCloud(@Model.SelectedDev)
                            </div>
                        </div>

                        <div class="tab-pane fade active in" id="reviews">
                            @{ Html.RenderPartial("_Reviews", Model.SelectedDev.Reviews);}
                        </div>

                    </div>
                </div><!--/category-tab-->
                @*<div class="recommended_items">
                        <!--recommended_items-->
                        <h2 class="title text-center">recommended items</h2>

                        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="images/home/recommend1.jpg" alt="" />
                                                    <h2>$56</h2>
                                                    <p>Easy Polo Black Edition</p>
                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="images/home/recommend2.jpg" alt="" />
                                                    <h2>$56</h2>
                                                    <p>Easy Polo Black Edition</p>
                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="images/home/recommend3.jpg" alt="" />
                                                    <h2>$56</h2>
                                                    <p>Easy Polo Black Edition</p>
                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="images/home/recommend1.jpg" alt="" />
                                                    <h2>$56</h2>
                                                    <p>Easy Polo Black Edition</p>
                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="images/home/recommend2.jpg" alt="" />
                                                    <h2>$56</h2>
                                                    <p>Easy Polo Black Edition</p>
                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="images/home/recommend3.jpg" alt="" />
                                                    <h2>$56</h2>
                                                    <p>Easy Polo Black Edition</p>
                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div><!--/recommended_items-->*@

            </div>
        </div>
    </div>
</section>